<!DOCTYPE html>
<html>
  <head>
    <title>MercedesBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div class="card mt-1">
    <div class="container">
    <div class="nav">
      <a class="navbar-brand">
        <%= image_tag "/assets/mblogo.svg", height: '30', width: '30'%>
        Mercedes-Benz Blog
      </a>
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item ml-2 mr-2">
              <%= link_to 'All Article', posts_path, class:'btn btn-primary'%>
            </li>
            <li class="nav-item ml-2 mr-2">
              <%= link_to 'New Article', new_post_path, class:'btn btn-primary' %>
            </li>
        </ul>
    </div>
    </div>

    <div class="container mt-3 mb-5">
      <div class="row">
      <div class =" col-10">
    <%= yield %>
      </div>
      <div class="col-2">
        <% tag_cloud(Tag.counts, %w{tag1 tag2 tag3 tag4 tag5}) do |tag, css_class| %>
         <%= link_to tag.name, tag_path(tag.name), class: css_class %>
        <% end %>
      </div>
      </div>
    </div>

  </div>

</html>
